/* XL Window*/
@media (min-width: 1280px) {
.text_new_size_1
{
    font-size: 13em;
}
.text_new_size_4{
    font-size: 10em;
}

.text_new_size_5{
    font-size: 11em;
}

.section_1_style_1{
    padding-left: 0px;
    margin-left: 80px;
}

.section_1_style_2{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.section_2_style_1{
    display: flex !important;
    justify-content: center;
    align-items: baseline;
}

.left_arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

