@media (min-width: 768px) {
.text_new_size_1
{
    font-size: 7em;
}

.text_new_size_2
{
    font-size: 0.5em;
}

.text_new_size_3
{
    font-size: 5.5em;
}

.section_1_style_1{
    padding-left: 50px;
    margin-left: -40px;
}

.section_1_style_2{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}
}