@media (min-width: 640px) {

    .text_new_size_3
    {
        font-size: 4.5em;
    }
    .section_1_mob_1{
        max-width: 150px;
    }
    .section_1_mob_2{
        max-width: 100px;
    }
  }


  @media (min-width: 320px) {

    .text_new_size_3
    {
        font-size: 4.5em;
    }
    .section_1_mob_1{
        max-width: 150px;
    }
    .section_1_mob_2{
        max-width: 100px;
    }
  }